.SinCentros{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    text-align: center;
    max-width: 400px;
    }
    
.SinCentros p {
    font-size: 18px;
    color: #333;
    margin: 0;
}

.ListadoPublis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.ListadoPublis .fila {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px; /* Limitar el ancho máximo de las filas */
    margin-bottom: 20px;
}

.publicacion{
    width: calc(20% - 16px);
    margin: 8px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}
.Contents {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .Publi-Div {
    margin: 10px;
  }

  .boton_editar {
    padding: 8px 16px; /* Menos padding para achicar el botón */
    font-size: 14px; /* Tamaño de fuente más pequeño */
    color: #fff;
    background-color: #007bff; /* Color azul para el botón de editar */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Quita el subrayado */
    margin-right: 10px; /* Espacio entre los botones */
  }
  
  .boton_editar:hover {
    background-color: #0056b3; /* Color azul más oscuro al pasar el cursor */
  }
  
  .botonEliminar {
    padding: 8px 16px; /* Menos padding para achicar el botón */
    font-size: 14px; /* Tamaño de fuente más pequeño */
    color: #fff;
    background-color: #ff0000; /* Color rojo para el botón de eliminar */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Quita el subrayado */
  }
  
  .botonEliminar:hover {
    background-color: #cc0000; /* Color rojo más oscuro al pasar el cursor */
  }
  
  
  
