/* Publicaciones.css */

.content {
  display: flex;
  min-height: 100vh;
  background-color: #f9f9f9;
  z-index: 1;
}

.sidebar {
  width: 370px;
  padding: 20px;
  background-color: #ffffff;
  border-right: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.publi-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten a la siguiente fila si no caben en la misma */
  gap: 50px; /* Espacio entre las publicaciones */
  padding: 20px;
  overflow-y: auto; /* Permite el desplazamiento vertical */
  align-items: flex-start; /* Alinea elementos al inicio para evitar espacios grandes entre filas */
}

.publicacion {
  flex: 1 1 400px; /* Establece un tamaño mínimo y permite crecer */
  max-width: 400px; /* Asegura que no excedan este tamaño */
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column; /* Alinea el contenido en columna */
  align-items: center;
  margin: 20px; /* Añade margen */
  padding: 20px;
  box-sizing: border-box;
}

.publicacion:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
  z-index: 1;
}

.publicacion-img {
  width: 100%;
  height: auto;
  overflow: hidden;
  text-align: center; /* Centro de la imagen en el contenedor */
}

.publicacion-img img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.publicacion-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinea al inicio en el contenedor de info */
  justify-content: space-between;
  width: 100%; /* Hace que ocupe todo el ancho disponible */
}

.descripcion {
  font-size: 14px;
  color: #666;
}

.descripcion p {
  margin: 5px 0;
}

.descripcion button {
  padding: 10px 15px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.descripcion button:hover {
  background-color: #0056b3;
}

.cargando,
.sin-publi {
  text-align: center;
  font-size: 24px;
  color: #333;
  grid-column: 1 / -1;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #f0f0f0;
}

.detalle-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.detalle-button:hover {
  background-color: #0056b3;
}

.background-image {
  background-image: url('../../public/fondoDashboard.jpeg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px; /* Ajusta la altura según sea necesario */
}
