/* Publicaciones.css */

.content {
    display: flex;
    min-height: 100vh;
    background-color: #f9f9f9;
  }
  
  .sidebar {
    width: 370px;
    padding: 20px;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

/* Publicaciones.css */

.publi-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 300px)); /* Columnas dinámicas */
    gap: 50px; /* Espacio entre las publicaciones */
    padding: 20px;
    max-height: 60vh; /* Altura máxima */
    overflow-y: auto; /* Desplazamiento vertical si es necesario */
  }
  
    
  
  
  .publicacion {
    width: 300px; /* Ancho fijo para cada publicación */
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    display: flex; /* Añadido */
    align-items: center; /* Añadido */
  }
  
  .publicacion:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
  }
  
/* Publicaciones.css */

 .publicacion-img {
    flex: 1;
    max-height: 150px;
    max-width: 150px;
    height: 150px;
    width: auto; /* Altura fija para todas las imágenes */
    overflow: hidden; /* Oculta cualquier parte de la imagen que exceda la altura fija */
  }
  
  .publicacion-img img {
    width: 150px; /* La imagen ocupará todo el ancho del contenedor */
    height: 150px; /* La imagen ocupará toda la altura del contenedor */
    object-fit: cover; /* La imagen se ajustará para cubrir el contenedor manteniendo su relación de aspecto */
  }
  
  
  .publicacion-info {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .descripcion {
    font-size: 14px;
    color: #666;
  }
  
  .descripcion p {
    margin: 5px 0;
  }
  
  .descripcion button {
    padding: 10px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .descripcion button:hover {
    background-color: #0056b3;
  }
  
  .cargando,
  .sin-publi {
    text-align: center;
    font-size: 24px;
    color: #333;
    grid-column: 1 / -1;
  }
  
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #f0f0f0;
  }
  